/*
Frontend styles for gutenberg blocks
*/

/** === Base Color Palatte === */
/** === Solid Colors === */
@each $color,
$code in $foundation-palette {

  .has-#{$color}-background-color {
    background-color: $code;
    color: color-pick-contrast($code,
        $colors: ($white, $black, $primary-color, $secondary-color),
        $tolerance: $global-color-pick-contrast-tolerance);
  }

  .has-#{$color}-color {
    color: $code;
  }

  .wp-block-button__link.has-#{$color}-background-color {
    background-color: $code;
    color: color-pick-contrast($code,
      $colors: ($white, $black, $primary-color, $secondary-color),
      $tolerance: $global-color-pick-contrast-tolerance);
    transition: background-color .25s ease-out,
      color .25s ease-out;
  }

  .wp-block-button__link.has-#{$color}-color {
    color: $code;
  }
}

/** === Gradients === */


// Apply gradients and text colors
@each $gradient,
$settings in $all-gradients {
  .has-#{$gradient}-gradient-background {
    background: $settings;
   
  }
}

/** === Button === */
.wp-block-button {

	// add general foundation button styling
	.wp-block-button__link {
		@extend .button;
	}

	// add special styling for squared buttons
	&.is-style-squared .wp-block-button__link {
		border-radius: 0;
	}

	// add outline styles
	&.is-style-outline .wp-block-button__link{
		@extend .hollow;
    background: transparent;
	}
}

/** === File === */
.wp-block-file .wp-block-file__button{
  @include button();
}

/** === Group === */
.wp-block-group.alignfull {
  margin-left: calc( -50vw + 50%  );
  margin-right: calc( -50vw + 50% );
  max-width: 100vw;
  padding:$global-padding 0;
  overflow-x: hidden;
  .wp-block-group__inner-container{
    @include xy-grid-container;
    @each $breakpoint, $size in $grid-margin-gutters {
      @include breakpoint($breakpoint) {
        padding: $global-padding $size;
      }
    }
  }
}

@mixin table-borders($color) {
  @include breakpoint(small){
    border: 2px solid $color;
  }
  @include breakpoint(medium){
    border: 6px solid $color;
  }
}

.wp-block-table thead, .wp-block-table tbody, .wp-block-table tfoot, .wp-block-table tbody tr, .wp-block-table td, .wp-block-table th {
  @include table-borders($white);
}

.has-light-gray-background-color {
  .wp-block-table thead, .wp-block-table tbody, .wp-block-table tfoot, .wp-block-table tbody tr, .wp-block-table td, .wp-block-table th {
    @include table-borders($light-gray);
  }
}

.wp-block-table {
  @include breakpoint(small){
    font-size: rem-calc(14);
  }
  @include breakpoint(medium){
    font-size: rem-calc(16);
  }
}

/** === Columns === */
@media (min-width: 640px) {
  .wp-block-columns {
    flex-wrap: nowrap !important;
  }
}

@media (max-width: 639px) {
  .wp-block-columns {
    flex-wrap: wrap !important;
  }
}

.wp-block-columns {
  &.alignfull {
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%);
    max-width: 100vw;

    @each $breakpoint,
    $size in $grid-margin-gutters {
      @include breakpoint($breakpoint) {
        padding-left: $size;
        padding-right: $size;
      }
    }
  }

  &.alignwide {
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%);
    max-width: 100vw;

    @each $breakpoint,
    $size in $grid-margin-gutters {
      @include breakpoint($breakpoint) {
        padding-left: $size*4;
        padding-right: $size*4;
      }
    }
  }

  &.has-background:not(.is-style-full-bleed){
    padding:$global-padding;
  }

}

// Full Bleed styling
.wp-block-columns.is-style-full-bleed {
  position: relative;
  gap: 0;
  .wp-block-column{
      position: relative;
      padding: $global-padding 0;
  }

  .wp-block-column.has-background-image {
    min-height: 25rem;
    background: transparent; // column itself transparent
    
       &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        margin-left: calc(50% - 50vw);
        width: 100vw;
         @include breakpoint(medium) {
        right: 0;
         margin-left: unset;
         margin-right:unset;
         left: auto;
         width: calc((100vw - 100%) / 2 + 100%);
         }
        height: 100%;
        z-index: -1;
             background: var(--column-bg);
             background-size: cover;
             background-position: center;
             background-repeat: no-repeat;
       }
        &:last-child::before {
          left: 0;
          right: auto;
          margin-right: calc(50% - 50vw);

          @include breakpoint(medium) {
            margin-left: unset;
            margin-right: unset;
           width: calc((100vw - 100%) / 2 + 100%);
          }

          @include breakpoint(large) {
             margin-right: unset;
            width: calc((100vw - 100%) / 2 + 100%);
          }
        }
    @include breakpoint(medium) {
      padding: $global-padding;
    }
  }

  .wp-block-column:first-child {
    @include breakpoint(large) {
      padding: $global-padding $global-padding $global-padding 0;
    }
  }

  .wp-block-column:last-child {
    @include breakpoint(large) {
      padding: $global-padding 0 $global-padding $global-padding;
    }
  }

  // ------------------------------------
  // SOLID COLOR BACKGROUNDS
  // ------------------------------------
  @each $color,
  $code in $foundation-palette {
    .wp-block-column.has-#{$color}-background-color {
      background: transparent !important;
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        margin-left: calc(50% - 50vw);
        width: 100vw;
        height: 100%;
        z-index: -1;
        background-color: $code;

        @include breakpoint(medium) {
          margin-left: calc(100% - 50vw);
          width: 50vw;
        }

        @include breakpoint(large) {
          margin-left: calc(100% - 50vw);
          width: 50vw;
        }
      }

      &:last-child::before {
         left: 0;
         right: auto;
         margin-right: calc(50% - 50vw);

         @include breakpoint(medium) {
           margin-left: unset;
           margin-right: unset;
           width: calc((100vw - 100%) / 2 + 100%);
         }

         @include breakpoint(large) {
           margin-right: unset;
           width: calc((100vw - 100%) / 2 + 100%);
         }
      }
    }
  }

  // ------------------------------------
  // GRADIENT BACKGROUNDS
  // ------------------------------------
  @each $slug, $gradient in $all-gradients {
    .wp-block-column.has-#{$slug}-gradient-background {
       background: transparent !important;
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        margin-left: calc(50% - 50vw);
        width: 100vw;
        height: 100%;
        z-index: -1;
        background: $gradient;

        @include breakpoint(medium) {
          margin-left: calc(100% - 50vw);
          width: 50vw;
        }

        @include breakpoint(large) {
          margin-left: calc(100% - 50vw);
          width: 50vw;
        }
      }

      &:last-child::before {
        left: auto;
        right: 0;
        margin-right: calc(50% - 50vw);

        @include breakpoint(medium) {
          margin-right: calc(100% - 50vw);
          width: 50vw;
        }

        @include breakpoint(large) {
          margin-right: calc(100% - 50vw);
          width: 50vw;
        }
      }
    }
  }
}




/** === Media Text === */
/* Desktop / medium screens */
@media (min-width: 1024px) {
  .wp-block-media-text.is-stacked-on-mobile {
    display: grid;
    grid-template-columns: 50% 1fr;
  }

  /* Media on left (default) */
  .wp-block-media-text.is-stacked-on-mobile:not(.has-media-on-the-right) .wp-block-media-text__content {
    grid-column: 2;
    grid-row: 1;
  }

  /* Media on right */
  .wp-block-media-text.is-stacked-on-mobile.has-media-on-the-right .wp-block-media-text__content {
    grid-column: 1;
    grid-row: 1;
  }
}

/* Mobile / smaller screens */
@media (max-width: 1023px) {
  .wp-block-media-text.is-stacked-on-mobile {
    display: grid;
    grid-template-columns: 100% !important;
  }

  .wp-block-media-text.is-stacked-on-mobile .wp-block-media-text__content {
    grid-column: 1;
    grid-row: 2;
  }

  .wp-block-media-text.is-stacked-on-mobile .wp-block-media-text__media {
    grid-column: 1;
    grid-row: 1;
  }
}

.wp-block-media-text{

&.is-style-staggered:not(.has-media-on-the-right){
  margin-bottom: 4rem;
  margin-top: 2rem;
  margin-left: 2rem;

   @include breakpoint(medium) {
    
     margin-top:2rem;
     margin-left:4rem;
    
   }
   @include breakpoint(large) {
     margin-top: 4rem;
     margin-left: 8rem;

   }

  .wp-block-media-text__media{
    margin-top: -2rem;
    margin-bottom: 0rem;
    margin-left: -2rem;
    margin-right: 2rem;
     @include breakpoint(medium) {
       margin-top:-2rem;
       margin-bottom:2rem;
       margin-left:-4rem;
       margin-right:unset;
    }
       @include breakpoint(large) {
         margin-top:-4rem;
         margin-bottom:4rem;
         margin-left:-8rem;
       }
  }
  .wp-block-media-text__content {
    padding-top:2rem;
  }
  
}
&.has-media-on-the-right.is-style-staggered {
margin-bottom:10rem;
 margin-top:0;
 margin-right:2rem;

 @include breakpoint(medium) {
   margin-top: 0;
   margin-right: 4rem;

 }

 @include breakpoint(large) {
   margin-top: 0;
   margin-right: 8rem;

 }

 .wp-block-media-text__media {
   margin-top: 2rem;
   margin-bottom: 2rem;
   margin-right: -2rem;
   margin-left: 2rem;
   

   @include breakpoint(medium) {
     margin-top: 2rem;
     margin-bottom: -2rem;
     margin-right: -4rem;
     margin-left:unset;
   }

   @include breakpoint(large) {
     margin-top: 4rem;
     margin-bottom: -4rem;
     margin-right: -8rem;

   }
 }

 .wp-block-media-text__content {
   padding-top: 2rem;
 }
}

&.is-style-scaled {

  background: none !important; // hide the default full-width background


  // image side
  .wp-block-media-text__media {

    overflow: hidden;
    border-radius: $global-radius $global-radius 0 0 ;
     @include breakpoint(large) {
       border-radius: $global-radius ;
     }
    img,
    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transform: scale(1.15);
      transition: transform 0.4s ease;
    }

    @include breakpoint(large) {

      img,
      video {
        transform: scale(1.25);
      }
    }
  }

  // content side
  .wp-block-media-text__content {

    position: relative;
    padding: 2rem;
    z-index: 1;
 
    @include breakpoint(medium) {
      padding: 3rem;
    }

    @include breakpoint(large) {
      padding: 4rem;
    }

    // create a pseudo background using Gutenberg's chosen color
    &::before {
      content: "";
       border-radius: 0 0 $global-radius $global-radius;
      position: absolute;
      inset: 0;
      z-index: -1;
          @include breakpoint(medium) {
             border-radius:0 $global-radius $global-radius 0;
          }
    }

  }
    @each $color,
    $code in $foundation-palette {

      &.has-#{$color}-background-color  {
        .wp-block-media-text__content::before{
        background-color: $code;
        }
      }
    }

}
&.is-style-scaled.has-media-on-the-right {
  .wp-block-media-text__content {
    &::before {
      content: "";
      border-radius: 0 0 $global-radius $global-radius;

      @include breakpoint(medium) {
        border-radius: $global-radius 0 0 $global-radius;
      }
    }
  }
}
}

.wp-block-cover{
   &.alignfull {
     margin-left: calc(-50vw + 50%);
     margin-right: calc(-50vw + 50%);
     max-width: 100vw;

     @each $breakpoint,
     $size in $grid-margin-gutters {
       @include breakpoint($breakpoint) {
         padding-left: $size;
         padding-right: $size;
       }
     }
   }

   &.alignwide {
     margin-left: calc(-50vw + 50%);
     margin-right: calc(-50vw + 50%);
     max-width: 100vw;

     @each $breakpoint,
     $size in $grid-margin-gutters {
       @include breakpoint($breakpoint) {
         padding-left: $size*4;
         padding-right: $size*4;
       }
     }
   }
}