// Page header
.front-hero {
  position: relative;
   z-index: 0;
     &::after {
       content: "";
       position: absolute;
       top: 100%;
       left: 0;

       width: 100vw;
       height: 20rem;
       z-index: -1;
       background: linear-gradient(0deg, $white, $medium-gray);

     }
  .marketing-container{
     @include xy-grid-container;
     @include xy-grid;
     @include flex-align($x:left, $y:bottom);
     height: 100%;
  }
  .marketing {
    @include xy-cell(6,$gutters:0);
    @include xy-grid;
    @include flex-align($x:left, $y:middle);
    background-color:transparent;
    position: relative;
   border-top-right-radius: 1.5rem;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      margin-left: calc(50% - 50vw);
      width: 100vw;
      height: 100%;
      z-index: -1;
      background: linear-gradient(0deg, rgba($medium-gray, 1)0%, rgba($medium-gray, 0.6) 100%);
      backdrop-filter: blur(20px);
      
      border-top-right-radius: 1.5rem;
      @include breakpoint(medium) {
        margin-left: calc(100% - 50vw);
        width: 60vw;
      }

      @include breakpoint(large) {
        margin-left: calc(100% - 50vw);
        width: 60vw;
      }
    }
  }

  @include breakpoint(small) {
    background-size: cover;
    background-position: bottom;
    margin: 0 0 rem-calc(32);
    height: auto;
    position: relative;
    text-align: left;
  }

  @include breakpoint(medium) {
    background-size: cover;
    background-position: center;
    height: rem-calc(500);
   margin: 0 0 rem-calc(64);
  }
   @include breakpoint(large) {

     height: rem-calc(600);

   }
      @include breakpoint(xlarge) {

        height: 83vh;

      }

  .tagline {
    @include breakpoint(small) {
      @include xy-cell(8);
    }

    @include breakpoint(medium) {
      @include xy-cell(11);
      padding-top: 2rem;
        margin-bottom:2rem;
    }
      @include breakpoint(large) {
        @include xy-cell(12);
        padding-top: 4rem;
        margin-bottom: 4rem;
      }
  }


}

.front-overlay-hero {
  position: relative;
  z-index: 0;
 padding: 16rem 1rem 2rem 1rem;
  @include xy-grid;
  @include flex-align($x:center, $y:middle);

  @include breakpoint(medium){

    @include flex-align($x:center, $y:bottom);
 padding: 5rem 1.8rem ;
  }
  &::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;

    width: 100vw;
    height: 20rem;
    z-index: -1;
    background: linear-gradient(0deg, $white, $medium-gray);

  }

  .hero-overlay{
    @include xy-grid-container;
    @include xy-grid;
    @include flex-align($x:center, $y:top);
  padding: $global-padding*1.5 $global-padding $global-padding $global-padding;
      background: linear-gradient(0deg, rgba($medium-gray, 0.8)0%, rgba($medium-gray, 0.7) 100%);
     
      backdrop-filter: blur(14px);
        border-radius: $global-radius;
     @include breakpoint(medium) {
     
        padding: $global-padding*2 0;
     }
        
        }
  

  .hero-content {
    @include breakpoint(small) {
      @include xy-cell(12);
      h1 {
        margin-bottom: 0.5rem;
      }
    }

    @include breakpoint(medium) {
      @include xy-cell(5);
       h1 {
         margin-bottom: $global-margin;
       }
    }

    @include breakpoint(large) {
      @include xy-cell(5);

    }
   
  }
    .hero-tagline {
      @include breakpoint(small) {
        @include xy-cell(12);
      }

      @include breakpoint(medium) {
       @include xy-cell(5);
      }

      @include breakpoint(large) {
        @include xy-cell(5);

      }
    }

  @include breakpoint(small) {
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
    margin: 0 0 rem-calc(32);
    height: auto;
    position: relative;
    text-align: left;
  }

  @include breakpoint(medium) {
    background-size: cover;
    background-position: center;
    height: rem-calc(650);
    margin: 0 0 rem-calc(64);
  }

  @include breakpoint(large) {

    height: rem-calc(700);

  }

  @include breakpoint(xlarge) {

    height: rem-calc(750);

  }
.subtitle{
  font-size:rem-calc(15);
  margin-bottom: 0.5rem;
  @include breakpoint(medium) {
  font-size:rem-calc(18);
  }
}



}

// Intro
.intro {
  @include xy-grid-container;
  @include xy-grid;
  @include flex-align($x:center, $y:top);
  position: relative;

  .fp-intro {
    @include breakpoint(small) {
      @include xy-cell(12);
    }

    @include breakpoint(medium) {
      @include xy-cell(12);

    }
  }
}