html,
body {
  overflow-x: hidden;
}

.main-container {
  @include xy-grid-container;
}

.main-grid {
  @include xy-grid();
  margin-top: 0;

  @include breakpoint(medium) {
    margin-top: 0;
  }

  &.sidebar-left {
    // Place the sidebar below main content on small screens ...
    @include breakpoint(small) {
      .main-content { order: 1; }
      .sidebar { order: 2; }
    }

    // ... and to the left on medium-up screens, when using the sidebar-left template
    @include breakpoint(medium) {
      .main-content { order: 2; }
      .sidebar { order: 1; }
    }
  }

  // Full width template
  .main-content-full-width {
    @include xy-cell(12);
  }

  // Default template
  .main-content {
    @include breakpoint(small) {
      @include xy-cell(12);
    }

    @include breakpoint(medium) {
      @include xy-cell(8);
    }
  }

  .sidebar {
    @include breakpoint(small) {
      @include xy-cell(12);
    }

    @include breakpoint(medium) {
      @include xy-cell(4);
      margin-top: 1rem;
    }

  }
}
.grecaptcha-badge { 
  visibility: hidden;
}

.global-content-columns{
   background-color:$primary-color;
   border-radius: $global-radius;
   margin-bottom: $global-margin;
  .global-content-column-first{
    display: flex;
    flex-direction: column;
    padding: $global-padding;
    color: $white;
    height: auto;
    @include breakpoint(medium){
     padding: $global-padding 0;
    }
    .bottom-line{
        margin-top: auto;
        /* pushes line to the bottom */
        border: 0;
        height: 4px;
        /* line thickness */
        background-color: $secondary-color;
        margin-left: 0;
        margin-right: auto;
        width: 50%;
    }
   
  }
  .global-content-column-last{
         padding: $global-padding;
         background-color:$medium-gray;
    border-radius: 0 0 $global-radius $global-radius;
    @include breakpoint(medium) {
    border-radius: 0 $global-radius $global-radius 0;
    padding-right:8.333%;
    }

  }
}